<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mychildviewcontroller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D96ECC611CA2382800B95FC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D96ECC7A1CA2382800B95FC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D96ECC851CA2382800B95FC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
